* {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face{
    font-family: space;
    src: url(../RESOURCES/space_age.ttf);
}

@font-face{
    font-family: 'Space Mono', monospace;
    src: url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
}

#navigation{
    padding-top:20px;
}

#logo{
    height: 50px;
    padding: 5px;
}

body {
    background-color: black;
    background-image: url(../RESOURCES/stars.jpg);
}

.inside {
    width: 300px;
    position: relative;
}

button {
    position: absolute;
    top: 0;
    border-radius: 20px;
    right: 20px;
    z-index: 2;
    border: none;
    top: 16px;
    height: 30px;
    cursor: pointer;
    color: white;
    background-color: #C32F27;
    transform: translateX(2px);
    padding-left: 10px;
    padding-right: 10px;
}

#body-container {
    display: inline-block;
    width: 68%;
    height: 450px;
    background-color: lightslategrey;
    -webkit-box-shadow: 5px 5px 15px 5px #656565; 
    box-shadow: 5px 5px 15px 5px #656565;   
}

ul {
    background-color: lightslategray;
    display: flex;
    align-items: stretch;
    width: 100%;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: space;
    font-size: 24px;
}

li a {
    text-decoration: none;
    border-radius: 30px;
    color: black;
    display: block;
    padding: 14px;
    margin: 6px;
}

ul a:hover {
    background-color: #C32F27;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 4px rgba(101,101,101,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 4px rgba(101,101,101,0);
}

input[type = "text"]{
    float: right;
    padding: 14px;
    margin: 6px;
    border: none;
    border-radius: 30px;
    font-family: 'Space Mono';
}

input[type = "submit"]{
    margin-left: -50px;
    height: 20px;
    width: 50px;
}

.mission {
    display: inline-block;
    flex-direction: column;
    background-color: lightslategray;
    padding: 20px;
    margin: 40px;
    width: max-content;
    height: max-content;
    font-family: 'Space Mono';
    text-align: center;
    border-radius: 30px;
}

.mission a:hover{
    background-color: #C32F27;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 4px rgba(101,101,101,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 4px rgba(101,101,101,0);
}

.mission a {
    text-decoration: none;
    text-align: center;
    font-family: space;
    border-radius: 30px;
    color: black;
    display: block;
    padding: 14px;
    margin: 6px;
}

.blink_me {
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
    50%{color: #C32F27;}
    100%{color: blue;} 
}

#git{
    padding:30px;
}

#git a{
    text-decoration: none; 
}

#git a:hover{
    animation: blinker 1s linear infinite;
}

#git a:visited{
    color:white;
}

footer {
    background-color: black;
    color:white;
    padding: 30px;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

footer p{
    font-family: 'Space Mono';
}