* {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face{
    font-family: space;
    src: url(../RESOURCES/space_age.ttf);
}

@font-face{
    font-family: 'Space Mono', monospace;
    src: url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
}

body {
    background-color: #9CAFB7;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.deets {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 30px;
    margin: 15px;
}

.deets p{
    text-align: left;
    color: white;
    padding: 30px;
}

.group {
    background-color: black;
    border-radius: 30px;
    color:white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: row;
    min-width: fit-content;
}

.component {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 30px;
    margin: 10px;
    
}

.component h2{
    color:#C32F27;
}

ul {
    background-color: lightslategray;
    display: flex;
    align-items: stretch;
    width: 100%;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: space;
    font-size: 24px;
}

li a {
    text-decoration: none;
    border-radius: 30px;
    color: black;
    display: block;
    padding: 14px;
    margin: 6px;
}

ul a:hover {
    background-color: #C32F27;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 4px rgba(101,101,101,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 4px rgba(101,101,101,0);
}

input[type = "text"]{
    float: right;
    padding: 14px;
    margin: 6px;
    border: none;
    border-radius: 30px;
    font-family: 'Space Mono';
}

input[type = "submit"]{
    margin-left: -50px;
    height: 20px;
    width: 50px;
}

.inside {
    width: 300px;
    position: relative;
}

button {
    position: absolute;
    top: 0;
    border-radius: 20px;
    right: 20px;
    z-index: 2;
    border: none;
    top: 16px;
    height: 30px;
    cursor: pointer;
    color: white;
    background-color: #C32F27;
    transform: translateX(2px);
    padding-left: 10px;
}

#miss_link_box{
    padding:10px;
}

.miss_link {
    border-radius: 30px;
    background-color: #C32F27;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
  }
  
.miss_link span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.miss_link span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.miss_link:hover span {
    padding-right: 25px;
}
  
.miss_link:hover span:after {
    opacity: 1;
    right: 0;
}

#profile {
    font-family: 'Space Mono';
    text-align: center;
}

#profile h1{
    text-align: center;
    padding: 14px;
    font-family: space;
}

#profile #name {
    text-align: center;
}

#profile #ID {
    text-align: center;
}

#profile_body{
    display: flex;
}

#profile_body p{
    padding: 5%;
    text-align: justify;
    font-size: 20px;
}

#profile_body #payloads{
    background-color: black;
    border-radius: 30px;
    color: white;
    padding:50px;
    margin: 20px;
}

ol {
    list-style-type: square;
    min-width: fit-content;
    list-style: none;
}

li {
    padding: 5px;
    width: max-content;
}

img {
    width: 25%;
    margin-top: 14px;
    border-radius: 30px;
}

video {
    border-radius: 30px;
    margin: 40px;
}

#wiki{
    text-decoration: none;
    border-radius: 30px;
    color: white;
    display: block;
    padding: 14px;
    margin: 6px;
}

#twitter{
    text-decoration: none;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    display: block;
    padding: 14px;
    margin: 6px;
}

#twitter:hover{
    background-color: #C32F27;
    border: none;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 4px rgba(101,101,101,0); 
    box-shadow: 0px 10px 13px -7px black, 5px 5px 15px 4px rgba(101,101,101,0);
}

#wiki:hover{
    background-color: #C32F27;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 4px rgba(101,101,101,0); 
    box-shadow: 0px 10px 13px -7px white, 5px 5px 15px 4px rgba(101,101,101,0);
}

.blink_me {
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
    50%{color: #C32F27;}
    100%{color: blue;} 
}