* {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face{
    font-family: space;
    src: url(../RESOURCES/space_age.ttf);
}

body {
    background-color: #9CAFB7;
}

#body-container {
    display: inline-block;
    width: 68%;
    height: 450px;
    background-color: lightslategrey;
    -webkit-box-shadow: 5px 5px 15px 5px #656565; 
    box-shadow: 5px 5px 15px 5px #656565;   
}

#container{
    border-style: solid;
    border-width: 2px;
}

#panels {
    display: flex;
    align-content: center;
    padding: 2em;
}

ul {
    background-color: lightslategray;
    display: flex;
    align-items: stretch;
    width: 100%;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: space;
    font-size: 24px;
}

li a {
    text-decoration: none;
    border-radius: 30px;
    color: black;
    display: block;
    padding: 14px;
    margin: 6px;
}

ul a:hover {
    background-color: #C32F27;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 4px rgba(101,101,101,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 4px rgba(101,101,101,0);
}

ul input[type = text]{
    float: right;
    padding: 14px;
    margin: 6px;
    border: none;
    border-radius: 30px;
}

.mission {
    display: inline-block;
    flex-direction: column;
    background-color: lightslategray;
    padding: 20px;
    margin: 40px;
    width: max-content;
    height: max-content;
    font-family: 'Space Mono';
    text-align: center;
}

.mission a:hover{
    background-color: #C32F27;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 4px rgba(101,101,101,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 4px rgba(101,101,101,0);
}

.mission a {
    text-decoration: none;
    text-align: center;
    font-family: space;
    border-radius: 30px;
    color: black;
    display: block;
    padding: 14px;
    margin: 6px;
}

@font-face{
    font-family: 'Space Mono', monospace;
    src: url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
}